/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

@import url("../style/dialog.css");


body {
    font-size: 15px;
}

h3 {
    font-size: 17px;
    font-weight: 600;
    margin: 0;
}

fieldset {
    margin-top: 18px;
    margin-left: 0;
}

fieldset > legend {
    margin-left: -12px;
    font-size: 15px;
}

input[type="checkbox"] + label {
    vertical-align: middle;
}

select.browser-style {
    font-size: unset;
}

.centered-row {
    width: 100%;
    padding-top: 4px;
    padding-bottom: 4px;
    text-align: center;
}

.hint, .note {
    font-size: 13px;
}

#backup-now {
    min-width: 132px;
    height: 48px;
    padding-left: 16px;
    padding-right: 16px;
    font-size: 17px !important;
    font-weight: 400;
}

#backup-reminder-freq {
    margin-left: 4px;
    margin-right: 4px;
}

#backup-reminder-freq {
    vertical-align: -moz-middle-with-baseline;
}

#backup-reminder-freq + label {
    vertical-align: middle;
}

#dlg-buttons {
    right: 16px;
    z-index: 1;
}

#dlg-buttons > button {
    min-width: 96px;
    height: 32px;
    font-size: 15px !important;
}
