/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */


:root {
    --toolbar-height: 28px;
    --statusbar-height: 22px;
}

html {
    height: 100%;
}

body {
    margin: 0;
    height: 100%;
    overflow: hidden;
    font-size: 11px;
}

.hbox, .vbox {
    display: flex;
    justify-content: flex-start;
}

.hbox {
    flex-flow: row nowrap;
}

.vbox {
    flex-flow: column nowrap;
}

.spacer {
    width: 24px;
}

.toolbar-button {
    flex: 0 1 auto;
    align-self: stretch;
    min-width: 64px;
}

#banner {
    display: none;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 16px;
    background-color: lightgoldenrodyellow;
    border-bottom: 1px solid khaki;
}

#toolbar {
    height: var(--toolbar-height);
    padding-left: 2px;
    padding-top: 2px;
    padding-bottom: 2px;

    background-color: -moz-dialog;
    border-bottom: 1px solid threedshadow;
}

#toolbar > #new-clipping {
    order: 1;
}

#toolbar > #new-folder {
    order: 2;
}

#toolbar > #move {
    order: 3;
}

#toolbar > #delete {
    order: 4;
}

#toolbar > #undo {
    order: 5;
}

#toolbar > #spacer-1 {
    order: 6;
}

#toolbar > #tmp-import {
    order: 7;
}

#toolbar > #tmp-export {
    order: 8;
}

#toolbar > #spacer-2 {
    order: 9;
    flex: 1 1 auto;
}

#toolbar > #search-clippings-and-folders {
    order: 10;
}

#toolbar > #search-clippings-and-folders > #clear-search {
    display: inline-block;
    width: 16px;
}

#search-box {
    width: 200px;
}

#content {
    height: calc(100% - var(--toolbar-height) - var(--statusbar-height));
}

#clippings-tree {
    order: 1;
    flex: 0 1 auto;
    align-self: stretch;
    width: 220px;
    min-width: 220px;
    overflow: auto;
    border: 1px solid threedshadow;
    background-color: #fbfbfb;
}

#clippings-tree > .ui-fancytree {
    background-color: #fbfbfb;
}

ul.fancytree-container {
    border: none;
}

#item-properties {
    order: 2;
    flex: 1 1 auto;
    align-self: stretch;
}

#item-properties label {
    margin-right: 4px;
}

#item-properties > #clipping-name {
    order: 1;
    flex: 0 1 auto;
    height: auto;
    margin-top: 2px;
    padding: 6px 8px 6px 8px;
    border-left: none;
    border-right: none;
    border-top: none;
    border-bottom: 1px solid threedshadow;
}

#item-properties > #clipping-text {
    order: 2;
    flex: 1 1 auto;
    margin-top: 2px;
    margin-bottom: 2px;
    padding: 6px 8px 6px 8px;
    resize: none;
    border-left: none;
    border-right: none;
    border-top: none;
    border-bottom: 1px solid threedshadow;
}

#item-properties > #source-url-bar {
    order: 3;
    flex: 0 1 auto;

    padding: 4px 8px 8px 8px;
    overflow: hidden;
    white-space: nowrap;

    line-height: 24px;
}

#source-url-bar button {
    margin-bottom: 0;
}

#source-url-bar > #src-url-label {
    order: 1;
    flex: 0 1 auto;
}

#source-url-bar > #source-url-deck {
    order: 2;
    flex: 1 1 auto;
}

#source-url-bar > #source-url-deck > #src-url-normal-mode > #clipping-src-url {
    order: 1;
    flex: 1 1 auto;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 24em;
}

#source-url-bar > #source-url-deck > #src-url-normal-mode > #edit-url-btn {
    order: 2;
    flex: 0 1 auto;

    min-width: 24px;
    border-radius: 3px;
}

#source-url-bar > #source-url-deck > #src-url-edit-mode {
    margin-bottom: 0;
}

#source-url-bar > #source-url-deck > #src-url-edit-mode > #clipping-src-url-edit {
    order: 1;
    flex: 1 1 auto;

    margin-right: 2px;
}

#source-url-bar > #source-url-deck > #src-url-edit-mode > #edit-src-url-ok {
    order: 2;

    min-width: 18px;
    margin-left: 1px;
    margin-right: 0;
    border-right: none;
    border-radius: 3px 0px 0px 3px;
}

#source-url-bar > #source-url-deck > #src-url-edit-mode > #edit-src-url-cancel {
    order: 3;

    min-width: 24px;
    margin-right: 0;
    border-radius: 0px 3px 3px 0px;
}

#edit-src-url-ok:focus,
#edit-src-url-cancel:focus {
    box-shadow: unset;
    border-color: rgb(177, 177, 177) !important;
}

#item-properties > #options-bar {
    order: 4;
    flex: 0 1 auto;
    padding: 1px 8px 0px 8px;
}

#options-bar > #shortcut-key-select {
    order: 1;
    flex: 0 1 auto;
}

#options-bar > #options-bar-spacer {
    order: 2;
    flex: 1 1 auto;
}

#options-bar > #tmp-clipping-label {
    order: 3;
    flex: 0 1 auto;
}

#tmp-label {
    padding: 2px 8px 2px 8px;
    border-radius: 2px;
}

#status-bar {
    width: 100%;
    height: var(--statusbar-height);
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 8px;
    
    border-top: 1px solid threedlightshadow;
    background-color: -moz-dialog;

    font: small-caption;
}

#status-bar-msg {
    width: 100%;
    text-align: left;
}


/*
 * Dialog boxes
 */

.lightbox .browser-style input[type="checkbox"] + label::before {
    width: 14px;
    height: 14px;
}

.lightbox fieldset {
    border-left: none;
    border-right: none;
}

.lightbox fieldset > legend {
    padding-left: 0px;
    padding-right: 8px;
    margin-left: -8px;
}

.lightbox select {
    font: caption;
    font-size: 11px;
}

.lightbox select > option {
    padding-top: 3px;
    padding-bottom: 3px;
}

#import-dlg {
    --width: 395px;
    --height: 178px;
}

#import-dlg #import-clippings-file-upload {
    margin-top: 4px;
    margin-bottom: 14px;
}

#import-dlg progress {
    display: none;
    width: 355px;
    margin-top: 12px;
}

#import-dlg #import-error {
    display: none;
    margin-top: 8px;
    color: red;
}

#export-dlg {
    --width: 360px;
    --height: 316px;
}

#export-dlg #export-format-list {
    width: 100%;
    margin-top: 4px;
    margin-bottom: 4px;
}

#export-dlg fieldset {
    margin-top: 6px;
    margin-bottom: 12px;
    height: 106px;
}

#export-dlg #format-description {
    margin-top: 2px;
    margin-bottom: 2px;
}
