/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

@import url("../style/laf.css");
@import url("../style/clippingLabelPicker.css");


:root {
    --toolbar-height: 30px;
    --statusbar-height: 22px;

    --color-bkgd: white;
    --color-default-text: black;
    --color-not-synced-items-text: rgba(0, 0, 0, 0.4);
    --color-main-toolbar-bkgd: linear-gradient(to bottom, #fcfcfc 0%, #dedede 100%);
    --color-main-toolbar-text: #0c0c0d;
    --color-plchldr-toolbar-bkgd: #eee;
    --color-plchldr-toolbar-text: #0c0c0d;
    --color-toolbarbtn-hover-bkgd: rgba(12, 12, 13, 0.2);
    --color-toolbarbtn-active-bkgd: rgba(12, 12, 13, 0.3);
    --color-reload-sync-fldr-btn-bkgd: #fbfbfb;
    --color-reload-sync-fldr-btn-border: #ddd;
    --color-reload-sync-fldr-btn-hover-bkgd: #ebebeb;
    --color-reload-sync-fldr-btn-hover-border: #b1b1b1;
    --color-reload-sync-fldr-btn-active-bkgd: #d7d7db;
    --color-reload-sync-fldr-btn-active-border: #b1b1b1;
    --color-toolbar-menubtn-open: #d7d7db;
    --color-clippings-tree-bkgd: #fbfbfb;
    --color-folder-only-bkgd: #f6f6f6;
    --color-textbox-bkgd: -moz-field;
    --color-listbox-bkgd: #fff;
    --color-details-pane-bkgd: white;
    --color-details-pane-btn-bkgd: #fbfbfb;
    --color-details-pane-btn-hover-bkgd: #ebebeb;
    --color-details-pane-btn-border: 1px solid #b1b1b1;
    --color-details-pane-btn-text: black;
    --color-statusbar-bkgd: -moz-dialog;
    --color-th-bkgd: #eee;
    --color-th-border: #d4d4d4;
    --color-cxtmenu-bkgd: #fff;
    --color-cxtmenu-border: #bebebe;
    --color-cxtmenu-text: #2f2f2f;
    --color-cxtmenu-menuitem-active-bkgd: #d7d7db;
    --color-cxtmenu-menuitem-hover-bkgd: #ededf0;
    --color-cxtmenu-menuitem-hover-text: #0c0c0d;
    --color-cxtmenu-separator: #e6e6e6;
}

@media (prefers-color-scheme: dark) {
    :root {
	--color-bkgd: #2a2a2e;
	--color-default-text: #f9f9fa;
	--color-not-synced-items-text: rgba(180, 180, 180, 0.4);
	--color-main-toolbar-bkgd: #38383d;
	--color-main-toolbar-text: #f9f9fa;
	--color-plchldr-toolbar-bkgd: #38383d;
	--color-plchldr-toolbar-text: #f9f9fa;
	--color-toolbarbtn-hover-bkgd: #737373;
	--color-toolbarbtn-active-bkgd: #b1b1b3;
	--color-reload-sync-fldr-btn-bkgd: #737373;
	--color-reload-sync-fldr-btn-border: #b1b1b3;
	--color-reload-sync-fldr-btn-hover-bkgd: #b1b1b3;
	--color-reload-sync-fldr-btn-hover-border: #b1b1b3;
	--color-reload-sync-fldr-btn-active-bkgd: #737373;
	--color-reload-sync-fldr-btn-active-border: #737373;
	--color-toolbar-menubtn-open: #737373;
	--color-clippings-tree-bkgd: #202023;
	--color-folder-only-bkgd: #2a2a2e;
	--color-textbox-bkgd: black;
	--color-listbox-bkgd: #202023;
	--color-details-pane-bkgd: #2a2a2e;
	--color-details-pane-btn-bkgd: #4a4a4f;
	--color-details-pane-btn-hover-bkgd: #737373;
	--color-details-pane-btn-border: 1px solid #737373;
	--color-details-pane-btn-text: #f9f9fa;
	--color-statusbar-bkgd: #4a4a4f;
	--color-th-bkgd: #4a4a4f;
	--color-th-border: #737373;
	--color-cxtmenu-bkgd: #4a4a4f;
	--color-cxtmenu-border: #38383d;
	--color-cxtmenu-text: #f9f9fa;
	--color-cxtmenu-menuitem-active-bkgd: #737373;
	--color-cxtmenu-menuitem-hover-bkgd: #606060;
	--color-cxtmenu-menuitem-hover-text: #fff;
	--color-cxtmenu-separator: #737373;
    }
}


html {
    height: 100%;
}

body {
    margin: 0;
    height: 100%;
    overflow: hidden;
    background-color: var(--color-bkgd);
    font-size: 11px;
    color: var(--color-default-text);
}

button {
    padding: 0px 8px;
    font-size: 11px !important;
}

button[disabled] {
    opacity: 0.4;
}

input[type="text"],
input[type="search"] {
    height: 24px;
}

input[type="text"],
input[type="search"],
textarea,
select {
    font-size: 11px !important;
    background-color: var(--color-textbox-bkgd);
    color: var(--color-default-text);
}

select {
    background-color: var(--color-listbox-bkgd);
}

.browser-style > input[type="text"],
.browser-style > input[type="text"]:not(disabled):hover {
    border-top: 1px solid transparent;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
}

.browser-style > input[type="text"]:active[readonly] {
    border-color: transparent;
    box-shadow: none;
}

.browser-style > input[type="text"][readonly]:focus,
.browser-style > input[type="text"][readonly]:focus:hover {
    border-color: transparent;
    box-shadow: none;
}

input[type="search"] {
    padding-left: 20px;
    border-top: 1px solid transparent;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
    border-bottom: 1px solid #b1b1b1;
    background-image: url("chrome://global/skin/icons/search-textbox.svg");
    background-position: 4px;
    background-repeat: no-repeat;
}

input[type="search"]::placeholder {
    font-style: italic;
}

input[type="checkbox"] + label {
    vertical-align: -0.3em;
}

.hbox, .vbox {
    display: flex;
    justify-content: flex-start;
}

.hbox {
    flex-flow: row nowrap;
}

.vbox {
    flex-flow: column nowrap;
}

.spacer {
    width: 24px;
}

.toolbar-button {
    flex: 0 1 auto;
    align-self: stretch;
    min-width: 30px;
    margin-left: 1px;
    margin-right: 1px;
    border: 1px solid transparent;
    background-position: center;
    background-repeat: no-repeat;
    background-color: transparent;
    color: var(--color-main-toolbar-text);
    font: caption;
    font-size: 11px;
}

.toolbar-button:hover {
    border-radius: 2px;
    background-color: var(--color-toolbarbtn-hover-bkgd);
}

.toolbar-button:active {
    border: 1px solid transparent !important;
    border-radius: 2px;
    background-color: var(--color-toolbarbtn-active-bkgd);
}

.toolbar-button-menu-open {
    border-radius: 2px 2px 0px 0px;
    background-color: var(--color-toolbar-menubtn-open);
}

.toolbar-button-labelled {
    background-position: 4px;
    padding-left: 24px;
    padding-right: 6px;
}

.toolbar-button-labelled:active {
    background-position: 4px;
    padding-left: 24px;
    padding-right: 6px;
}

#banner {
    display: none;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 16px;
    background-color: lightgoldenrodyellow;
    border-bottom: 1px solid khaki;
}

#toolbar {
    height: var(--toolbar-height);
    padding-left: 2px;
    padding-top: 2px;
    padding-bottom: 2px;
    background: var(--color-main-toolbar-bkgd);
    color: var(--color-main-toolbar-text);
    border-bottom: 1px solid silver;
}

#toolbar > #new-clipping {
    order: 1;
    background-image: url("../img/newClipping.svg");
}

#toolbar > #new-clipping:hover {
    background-image: url("../img/newClipping_hover.svg");
}

#toolbar > #new-folder {
    order: 2;
    background-image: url("../img/newFolder.svg");
}

#toolbar > #new-folder:hover {
    background-image: url("../img/newFolder_hover.svg");
}

#toolbar > #move {
    order: 3;
    background-image: url("../img/moveTo.svg");
}

#toolbar > #move:hover {
    background-image: url("../img/moveTo_hover.svg");
}

#toolbar > #delete {
    order: 4;
    background-image: url("../img/delete.svg");
}

#toolbar > #delete:hover {
    background-image: url("../img/delete_hover.svg");
}

#toolbar > #undo {
    order: 5;
    background-image: url("../img/undo.svg");
}

#toolbar > #undo:hover {
    background-image: url("../img/undo_hover.svg");
}

#toolbar > #spacer-1 {
    order: 6;
}

#toolbar > #clippings-mgr-options {
    order: 7;
    padding-right: 12px;
    background-image: url("../img/options.svg"), url("../img/drop-down.svg");
    background-position-x: 4px, right;
    
}

#toolbar > #clippings-mgr-options:hover {
    background-image: url("../img/options_hover.svg"), url("../img/drop-down.svg");
}

/* jQuery contextMenu CSS overrides */
.context-menu-list {
    border: 1px solid var(--color-cxtmenu-border);
    background-color: var(--color-cxtmenu-bkgd);
}

.ae-menuitem,
.context-menu-submenu {
    padding-top: 4px;
    padding-bottom: 4px;
    font-size: 12px;
    background-color: var(--color-cxtmenu-bkgd);
    color: var(--color-cxtmenu-text);
}

.context-menu-item.context-menu-disabled {
    background-color: var(--color-cxtmenu-bkgd);
}

.context-menu-disabled:hover {
    background-color: transparent;
}

.ae-menuitem:active {
    background-color: var(--color-cxtmenu-menuitem-active-bkgd) !important;
}

.context-menu-item.context-menu-hover {
    background-color: var(--color-cxtmenu-menuitem-hover-bkgd);
    color: var(--color-cxtmenu-menuitem-hover-text);
    cursor: default;
}

.context-menu-separator {
    border-bottom: 1px solid var(--color-cxtmenu-separator);
}

.context-menu-icon-checked {
    background-image: url("../img/checked.svg");
    background-repeat: no-repeat;
    background-position-x: 4px;
    background-position-y: center;
}

#toolbar > #spacer-2 {
    order: 8;
    flex: 1 1 auto;
}

#toolbar > #search-clippings-and-folders {
    order: 9;

    margin-top: 1px;
    margin-bottom: 1px;
    margin-right: -12px; /* To accommodate "clear search" button hack. */
}

#search-box:hover {
    border-bottom: 1px solid #858585;
}

#search-box:focus,
#search-box:focus:hover {
    border-color: #0996f8;
    box-shadow: 0 0 0 2px rgba(97, 181, 255, 0.75);
}

#search-box {
    width: 220px;
    height: 100%;
    padding-right: 20px;
    font: caption;
    font-size: 11px;
}

#toolbar > #search-clippings-and-folders > #clear-search {
    display: inline-block;
    position: relative;
    top: 1px;
    left: -20px;
    width: 12px;
    height: 12px;
    background-color: -moz-Field;
    background-image: url("../img/search-reset.svg");
    background-position-x: center;
    background-position-y: center;
    background-repeat: no-repeat;
    visibility: hidden;
}

#content {
    height: calc(100% - var(--toolbar-height) - var(--statusbar-height));
}

#clippings-tree {
    order: 1;
    flex: 0 1 auto;
    align-self: stretch;
    width: 220px;
    min-width: 128px;
    overflow: auto;
    border-right: 1px solid transparent;
    color: var(--color-default-text);
    background-color: var(--color-clippings-tree-bkgd);
}

#clippings-tree .ae-synced-clippings-fldr > .fancytree-icon {
    background-image: url("../img/synced-clippings.svg");
}

#reload-sync-fldr-btn {
    display: inline-block;

    position: relative;
    top: 0px;
    left: 4px;
    width: 24px;
    height: 20px;

    border: 1px solid var(--color-reload-sync-fldr-btn-border);
    border-radius: 3px;

    background-color: var(--color-reload-sync-fldr-btn-bkgd);
    background-image: url("../img/reload.svg");
    background-size: 14px 14px;
    background-repeat: no-repeat;
    background-position: center;
}

#reload-sync-fldr-btn:hover {
    border: 1px solid var(--color-reload-sync-fldr-btn-hover-border);
    background-color: var(--color-reload-sync-fldr-btn-hover-bkgd);
}

#reload-sync-fldr-btn:active {
    border: 1px solid var(--color-reload-sync-fldr-btn-active-border);
    background-color: var(--color-reload-sync-fldr-btn-active-bkgd);
}

/* If user has set the option to only show synced items in the Clippings menu,
 * then grey out all tree node labels and icons except for the Synced Clippings
 * folder and its children. */
#clippings-tree.cxt-menu-show-sync-items-only .fancytree-title {
    color: var(--color-not-synced-items-text);
}

#clippings-tree.cxt-menu-show-sync-items-only .fancytree-icon {
    opacity: 0.4;
}

#clippings-tree.cxt-menu-show-sync-items-only .ae-synced-clippings .fancytree-title {
    color: var(--color-text-default);
}

#clippings-tree.cxt-menu-show-sync-items-only .ae-synced-clippings .fancytree-icon {
    opacity: unset;
}

ul.fancytree-container {
    border: none;
}

#intro-content {
    display: none;
    font-size: 13px;
    margin: 8px 24px 8px 24px;
}

#intro-content h3 {
    font-size: 17px;
    font-weight: 600;
}

#intro-content h4 {
    margin-top: 4px;
    margin-bottom: 4px;
    font-size: 13px;
    font-weight: 600;
}

#intro-content .shortcut-key-tbl {
    font-size: 12px;
}

.shortcut-key-tbl > tr > td:first-of-type {
    width: 6em;
}

#tree-splitter {
    order: 2;
    position: relative;
    width: 2px;
    background-color: #fbfbfb;
    border-right: 1px solid #b1b1b1;
    cursor: col-resize;
}

/* Label submenu on clippings tree context menu */
.clipping-label-red {
    color: red;
}

.clipping-label-orange {
    color: orange;
}

.clipping-label-yellow {
    color: rgb(200, 200, 0);
}

.clipping-label-green {
    color: green;
}

.clipping-label-blue {
    color: blue;
}

.clipping-label-purple {
    color: purple;
}

.clipping-label-grey {
    color: gray;
}

#item-properties {
    order: 3;
    flex: 1 1 auto;
    align-self: stretch;
    margin-bottom: 0;
}

#item-properties.folder-only {
    background-color: var(--color-folder-only-bkgd);
}

#item-properties label {
    margin-right: 4px;
}

#item-properties > #clipping-name {
    order: 1;
    flex: 0 1 auto;
    height: auto;
    margin-top: 2px;
    margin-left: 2px;
    margin-right: 2px;
    padding: 6px 8px 6px 8px;
    border-left: none;
    border-right: none;
    border-top: none;
    border-bottom: 1px solid #b1b1b1;
    background-color: var(--color-textbox-bkgd);
}

#item-properties > #clipping-text {
    order: 2;
    flex: 1 1 auto;
    margin-top: 2px;
    margin-bottom: 2px;
    margin-left: 2px;
    margin-right: 2px;
    padding: 6px 8px 6px 8px;
    resize: none;
    border-left: none;
    border-right: none;
    border-top: none;
    border-bottom: 1px solid #b1b1b1;
    background-color: var(--color-textbox-bkgd);
}

#item-properties > #placeholder-toolbar {
    order: 3;
    flex: 0 1 auto;
    display: none;
    
    height: var(--toolbar-height);
    padding-left: 8px;
    padding-top: 2px;
    padding-bottom: 2px;

    background-color: var(--color-plchldr-toolbar-bkgd);
    color: var(--color-plchldr-toolbar-text);
}

#item-properties > #placeholder-toolbar > button {
    height: 24px;
}

#item-properties > #placeholder-toolbar > #plchldr-presets,
#item-properties > #placeholder-toolbar > #plchldr-presets:active {
    padding-left: 6px;
    padding-right: 12px;
}

#item-properties > #placeholder-toolbar > #custom-plchldr {
    background-image: url("../img/customPlchldr.svg");
}

#item-properties > #placeholder-toolbar > #custom-plchldr:hover {
    background-image: url("../img/customPlchldr_hover.svg");
}

#item-properties > #placeholder-toolbar > #auto-incr-plchldr {
    background-image: url("../img/numericPlchldr.svg");
}

#item-properties > #placeholder-toolbar > #auto-incr-plchldr:hover {
    background-image: url("../img/numericPlchldr_hover.svg");
}

#item-properties > #placeholder-toolbar > label {
    order: 1;
    flex: 0 1 auto;

    margin-right: 0;
}

#item-properties > #placeholder-toolbar > #plchldr-presets {
    order: 2;
    flex: 0 1 auto;
    
    padding-right: 12px;
    background-image: url("../img/drop-down.svg");
    background-position-x: right;
}

#item-properties > #placeholder-toolbar > #custom-plchldr {
    order: 3;
    flex: 0 1 auto;
}

#item-properties > #placeholder-toolbar > #auto-incr-plchldr {
    order: 4;
    flex: 0 1 auto;
}

#item-properties > #source-url-bar {
    order: 4;
    flex: 0 1 auto;

    padding: 4px 8px 8px 8px;
    overflow: hidden;
    white-space: nowrap;

    line-height: 24px;
    background-color: var(--color-details-pane-bkgd);
}

#source-url-bar button {
    margin-bottom: 0;
}

#source-url-bar > #src-url-label {
    order: 1;
    flex: 0 1 auto;
}

#source-url-bar > #source-url-deck {
    order: 2;
    flex: 1 1 auto;
}

#source-url-bar > #source-url-deck button {
    border: var(--color-details-pane-btn-border);
    background-color: var(--color-details-pane-btn-bkgd);
    color: var(--color-details-pane-btn-text);
}

#source-url-bar > #source-url-deck button:hover {
    background-color: var(--color-btn-hover-bkgd);
}

#source-url-bar > #source-url-deck button:active {
    background-color: var(--color-btn-active-bkgd);
}

#source-url-bar > #source-url-deck > #src-url-normal-mode > #clipping-src-url {
    order: 1;
    flex: 1 1 auto;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 24em;
}

#source-url-bar > #source-url-deck > #src-url-normal-mode > #edit-url-btn {
    order: 2;
    flex: 0 1 auto;

    min-width: 24px;
    border-radius: 3px;
}

#source-url-bar > #source-url-deck > #src-url-edit-mode {
    margin-bottom: 0;
}

#source-url-bar > #source-url-deck > #src-url-edit-mode > #clipping-src-url-edit {
    order: 1;
    flex: 1 1 auto;

    margin-right: 2px;
}

#source-url-bar > #source-url-deck > #src-url-edit-mode > #edit-src-url-ok {
    order: 2;

    min-width: 24px;
    margin-left: 1px;
    margin-right: 0;
    border-right: none;
    border-radius: 3px 0px 0px 3px;
}

#edit-src-url-ok {
    background-image: url("../img/ok.svg");
    background-position: center;
    background-repeat: no-repeat;
}

#edit-src-url-ok:hover {
    background-image: url("../img/ok_hover.svg");
}

#edit-src-url-ok:active {
    background-image: url("../img/ok_active.svg");
}

#source-url-bar > #source-url-deck > #src-url-edit-mode > #edit-src-url-cancel {
    order: 3;

    min-width: 26px;
    margin-right: 0;
    border-radius: 0px 3px 3px 0px;
}

#edit-src-url-cancel {
    background-image: url("../img/cancel.svg");
    background-position: center;
    background-repeat: no-repeat;
}

#edit-src-url-cancel:hover {
    background-image: url("../img/cancel_hover.svg");
}

#edit-src-url-cancel:active {
    background-image: url("../img/cancel_active.svg");
}

#edit-src-url-ok:focus,
#edit-src-url-cancel:focus {
    box-shadow: unset;
    border-color: rgb(177, 177, 177) !important;
}

#item-properties > #options-bar {
    order: 5;
    flex: 0 1 auto;
    margin-bottom: 6px;
    padding: 1px 8px 0px 8px;
    background-color: var(--color-details-pane-bkgd);
}

#options-bar > #shortcut-key-select {
    order: 1;
    flex: 0 1 auto;
}

#options-bar > #shortcut-key-select > #clipping-key {
    margin-bottom: 0;
}

#options-bar > #shortcut-key-select > #show-shortcut-list {
    height: 24px;
    vertical-align: bottom;
    background-image: url("../img/help.svg");
}

#options-bar > #shortcut-key-select > #show-shortcut-list:hover {
    background-image: url("../img/help_hover.svg");
}

#options-bar > #options-bar-spacer {
    order: 2;
    flex: 1 1 auto;
}

#options-bar > #clipping-label {
    order: 3;
    flex: 0 1 auto;
}

#status-bar {
    width: 100%;
    height: var(--statusbar-height);
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 8px;
    
    border-top: 1px solid threedlightshadow;
    background-color: var(--color-statusbar-bkgd);
    background-image: url("chrome://global/skin/icons/resizer.png");
    background-position: right bottom;
    background-repeat: no-repeat;

    font: small-caption;
}

#status-bar-msg {
    width: 100%;
    text-align: left;
}


/*
 * Dialog boxes
 */

.lightbox {
    border-radius: 2px;
}

.lightbox .msgbox-icon,
.lightbox .msgbox-info-icon {
    float: left;
    width: 32px;
    height: 32px;
    margin-top: 0;
    margin-right: 12px;
}

.lightbox .msgbox-icon {
    background-image: url("../img/warning-64.png");
    background-size: contain;
}

.lightbox .msgbox-info-icon {
    background-image: url("../img/info.svg");
    background-size: contain;
}

.lightbox .msgbox-icon[os="mac"] {
    background-image: url("chrome://global/skin/icons/warning-64.png");
}

.lightbox .browser-style input[type="checkbox"] + label::before {
    width: 14px;
    height: 14px;
}

.lightbox fieldset {
    border-left: none;
    border-right: none;
    border-top: 1px solid silver;
    border-bottom: 1px solid #b1b1b1;
}

.lightbox fieldset > legend {
    padding-left: 0px;
    padding-right: 8px;
    margin-left: -10px;
}

.lightbox select {
    font: caption;
    font-size: 11px;
}

.lightbox select > option {
    padding-top: 3px;
    padding-bottom: 3px;
}

.lightbox .row {
    width: 100%;
}

.lightbox .row > input[type="text"] {
    width: 100%;
    margin-top: 2px;
    margin-bottom: 8px;
}

#shortcut-key-conflict-msgbox,
#clipping-missing-src-url-msgbox,
#remove-all-source-urls-dlg,
#import-confirm-msgbox,
#export-confirm-msgbox,
#backup-confirm-msgbox,
#reload-sync-fldr-msgbox,
#move-sync-fldr-msgbox,
#delete-sync-fldr-msgbox,
#show-only-synced-items-reminder,
#generic-msg-box {
    top: 64px;
}

#custom-placeholder-dlg {
    --width: 330px;
    --height: 200px;
    top: 48px;
}

#numeric-placeholder-dlg {
    --width: 330px;
    --height: 184px;
    top: 48px;
}

#custom-placeholder-dlg input[type="text"],
#numeric-placeholder-dlg input[type="text"] {
    display: block;
}

#custom-placeholder-dlg .input-error,
#numeric-placeholder-dlg .input-error {
    background-color: pink;
}

#insert-date-time-placeholder-dlg {
    --width: 300px;
    --height: 326px;
    top: 14px;
}

#clipping-missing-src-url-msgbox {
    --width: 430px;
}

#shortcut-list-dlg {
    --width: 420px;
    --height: 320px;
    top: 18px;
}

#shortcut-list-dlg > .dlg-btns {
    width: 100%;
}

#shortcut-list-dlg > .dlg-btns > #export-shct-list {
    order: 1;
    flex: 0 1 auto;
    margin-left: 22px;
}

#shortcut-list-dlg > .dlg-btns > #shortcut-list-btns-spacer {
    order: 2;
    flex: 1 1 auto;
}

#shortcut-list-dlg > .dlg-btns > .dlg-accept {
    order: 3;
    flex: 0 1 auto;
}

#shortcut-list-content {
    margin-left: -16px;
    margin-right: -16px;
    height: calc(100% - var(--toolbar-height));
}

#shortcut-list-content table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
}

#shortcut-list-content table > thead {
    display: block;
    width: 418px;
    height: 20px;
    background-color: var(--color-th-bkgd);
    color: var(--color-default-text);
    border-bottom: 1px solid var(--color-th-border);
}

#shortcut-list-content table > thead > tr > th {
    padding: 3px 4px 3px 4px;
    font-weight: normal;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 90px;
}

#shortcut-list-content table > thead > tr > th:nth-child(1) {
    border-right: 1px solid var(--color-th-border);
}

#shortcut-list-content table > tbody {
    display: block;
    width: 418px;
    height: 160px;
    overflow-x: hidden;
    overflow-y: auto;
    border-bottom: 1px solid var(--color-th-border);
}

#shortcut-list-content table > tbody > tr {
    height: 20px;
}

#shortcut-list-content table > tbody > tr > td {
    padding-left: 4px;
    padding-right: 4px;
}

#shortcut-list-content table th:nth-child(1),
#shortcut-list-content table td:nth-child(1) {
    min-width: 90px;
}

#shortcut-list-content table th:nth-child(2),
#shortcut-list-content table td:nth-child(2) {
    width: 100%;
    white-space: nowrap;
}

#import-dlg {
    --width: 395px;
    --height: 200px;
    top: 40px;
}

#import-dlg #import-clippings-filepicker {
    width: 100%;
    margin-top: 2px;
    margin-bottom: 12px;
}

#import-dlg #import-clippings-file-path {
    order: 1;
    flex: 1 1 auto;

    margin-right: 2px;
}

#import-dlg #import-clippings-file-path,
#import-dlg #import-clippings-file-path:hover {
    border-bottom: 1px dotted #b1b1b1;
    border-top: 1px solid transparent;
    border-right: 1px solid transparent;
    border-left: 1px solid transparent;
    background: transparent;
}

#import-dlg #import-clippings-file-upload-btn {
    order: 2;
    flex: 0 1 auto;
    
    min-width: 72px;
    min-height: 24px;
    padding: 3px 16px 3px 16px;
    border: 1px solid var(--color-btn-border);
    border-radius: 2px;
    box-shadow: 0 0 0 0 transparent;
    background-color: var(--color-btn-bkgd);

    transition-duration: 250ms;
    transition-property: box-shadow, border;    
}

#import-dlg #import-clippings-file-upload-btn:hover {
    background-color: var(--color-btn-hover-bkgd);
}

#import-dlg #import-clippings-file-upload-btn:active {
    background-color: var(--color-btn-active-bkgd);
    border: 1px solid #858585;
}

#import-dlg #import-clippings-file-upload {
    opacity: 0;
    width: 0px;
    height: 0px;
}

#import-dlg #restore-backup-warning {
    display: none;   
}

#import-dlg #restore-backup-warning > .warning-icon {
    float: left;
    width: 22px;
    height: 22px;
    margin-top: 4px;
    background-image: url("../img/warning-64.png");
    background-repeat: no-repeat;
    background-size: contain;
}

#import-dlg #restore-backup-warning > .warning-icon[os="mac"] {
    background-image: url("chrome://global/skin/icons/warning-64.png");
}

#import-dlg #restore-backup-warning > p {
    min-height: 60px;
    margin: 0px 0px 0px 28px;
    padding: 8px;
    border-radius: 4px;
    background-color: #fbfb77;
    color: black;
}

#import-dlg progress {
    display: none;
    width: 355px;
    margin-top: 12px;
}

#import-dlg #import-error {
    display: none;
    margin-top: 8px;
    color: var(--color-error-text);
}

#export-dlg {
    --width: 360px;
    --height: 306px;
    top: 22px;
}

#export-dlg #export-format-list,
#insert-date-time-placeholder-dlg #date-time-format-list {
    width: 100%;
    margin-top: 4px;
    margin-bottom: 4px;
    border: 1px solid #b1b1b1;
}

#export-dlg fieldset {
    margin-top: 6px;
    margin-bottom: 12px;
    height: 106px;
}

#export-dlg #format-description {
    margin-top: 2px;
    margin-bottom: 2px;
}

#export-dlg #include-src-urls {
    margin-left: 2px;
}

#export-dlg #include-src-urls[disabled] + label {
    color: rgba(0, 0, 0, 0.40);
}

#import-confirm-msgbox > .msgbox-icon,
#export-confirm-msgbox > .msgbox-icon,
#backup-confirm-msgbox > .msgbox-icon {
    margin-top: 8px;
}

#import-confirm-msgbox {
    --width: 400px;
}

#reload-sync-fldr-msgbox {
    --width: 430px;
}

#move-sync-fldr-msgbox {
    --width: 306px;
}

#move-dlg {
    --width: 340px;
    --height: 282px;
    top: 32px;
}

#move-dlg #move-to-fldr-tree {
    margin-top: 4px;
    margin-bottom: 8px;
    border: 1px solid #b1b1b1;
}

#move-dlg #move-to-fldr-tree > .fancytree-container {
    height: 154px;
    overflow: auto;
}

#move-dlg #move-to-fldr-tree .ae-synced-clippings-fldr > .fancytree-icon {
    background-image: url("../img/synced-clippings.svg");
}

#move-dlg #move-error {
    margin: 4px 0 4px 0;
    color: var(--color-error-text);
}

#init-error-msgbox {
    --height: 136px;
    top: 64px;
}

#init-error-msgbox > .dlg-content > .msgbox-error-msg {
    margin-left: 44px;
    color: var(--color-error-text);
}

#mini-help-dlg {
    --width: 450px;
    --height: 312px;
    top: 20px;
}

#shortcut-list-dlg .hlp-hdr,
#mini-help-dlg .hlp-hdr {
    margin-top: 0;
    font-size: 12px;
    font-weight: bold;
}

#show-only-synced-items-reminder {
    --height: 140px;
}

#generic-msg-box {
    --width: 28em;
}

