/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */


.icon {
    float: left;
}

.deck-content {
    font-size: 13px;
}

.key-legend {
    clear: both;
    margin-top: 28px;
    font-size: 11px;
}

#paste-by-shct-key-content, #search-by-name-content {
    margin-left: 44px;
}

#search-by-name-ico > img {
    width: 36px;
    height: 36px;
}

#clipping-search {
    width: 100%;
    margin-top: 4px;
    padding: 0 20px 0;
    background-image: url("chrome://global/skin/icons/search-textbox.svg");
    background-position: 4px;
    background-repeat: no-repeat;
    font-size: 13px;
}

#clear-search {
    display: inline-block;
    position: absolute;
    top: 45px;
    right: 20px;
    width: 12px;
    height: 12px;
    background-color: -moz-Field;
    background-image: url("../img/search-reset.svg");
    background-position-x: center;
    background-position-y: center;
    background-repeat: no-repeat;
    z-index: 100;
}

#num-matches {
    width: 100%;
    text-align: right;
    font-size: 11px;   
}

/* Autocomplete menu in clipping name search mode */
.clipping > .name {
    font-size: 13px;
    color: #0c0c0d;
}

.clipping > .preview {
    font-size: 11px;
    color: #737373;
}

.easy-autocomplete-container {
    z-index: 100;
    padding: 3px;
    background-color: -moz-dialog;
    border: 1px solid #b1b1b1;
    box-shadow: 4px 4px 2px -2px #8F8F8F;
}

.easy-autocomplete-container[hidden="true"] {
    padding: 0;
    border: none;
}

.easy-autocomplete-container > ul {
    overflow-y: auto;
    max-height: 88px;
    margin-bottom: 0;
    border: 1px solid #ccc;
}

.easy-autocomplete-container > ul > li {
    border: none;
    height: 44px;
}

.easy-autocomplete-container > #ae-eac-num-matches {
    width: 100%;
    text-align: center;
    font-size: 11px;
    padding-top: 2px;
    padding-bottom: 2px;
}
