/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */


input[type="text"], textarea, select {
    margin-bottom: 12px !important;
}

input[type="text"], textarea {
    width: 100%;
    margin-top: 4px;
}

textarea {
    resize: none;
}

#folder-tree-btn {
    order: 1;
    
    width: 100%;
    padding: 4px 4px 4px 28px;
    background-color: #fbfbfb;
    border: 1px solid #b1b1b1;

    background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNiIgaGVpZ2h0PSIxNiIgdmlld0JveD0iMCAwIDE2IDE2Ij4KICA8cGF0aCBkPSJNOCwxMkwzLDcsNCw2bDQsNCw0LTQsMSwxWiIgZmlsbD0iIzZBNkE2QSIgLz4KPC9zdmc+Cg=="), url("../img/folder.svg");
    background-position: calc(100% - 4px) center, 8px;
    background-repeat: no-repeat;
    font: caption !important;
    font-size: 11px !important;
    text-align: start !important;
}

#folder-tree-btn:hover {
    background-color: #ebebeb;
}

#folder-tree-btn[value="0"] {
    background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNiIgaGVpZ2h0PSIxNiIgdmlld0JveD0iMCAwIDE2IDE2Ij4KICA8cGF0aCBkPSJNOCwxMkwzLDcsNCw2bDQsNCw0LTQsMSwxWiIgZmlsbD0iIzZBNkE2QSIgLz4KPC9zdmc+Cg=="), url("../img/clippings-root.svg");
    background-position: calc(100% - 4px) center, 8px;
}

#folder-tree-btn:hover:active {
    background-color: #d4d4d4;
}

#folder-tree-popup {
    position: absolute;
    visibility: hidden;
    width: 350px;
    height: 140px;
    margin-top: 0;
    border-top: 1px solid ThreeDLightShadow;
    border-left: 1px solid ThreeDLightShadow;
    border-right: 1px solid ThreeDDarkShadow;
    border-bottom: 1px solid ThreeDDarkShadow;
    background-color: white;
    box-shadow: 4px 4px 2px -2px #8F8F8F;
}

#folder-tree {
    height: 100%;
    overflow: auto;
}

ul.fancytree-container {
    border: none;
}

#new-folder-btn {
    order: 2;
    
    min-width: 32px;
    margin: 0 0 0 4px;
    background-image: url("../img/newFolder.svg");
    background-position: center;
    background-repeat: no-repeat;
}

#clipping-options {
    margin-bottom: 8px;
}

#new-folder-dlg {
    --width: 320px;
    --height: 256px;
    top: 10%;
}

#new-folder-dlg-fldr-tree {
    margin-top: 4px;
    border: 1px solid #b1b1b1;
}

#new-folder-dlg-fldr-tree > .fancytree-container {
    height: 100px;
    overflow: auto;
}
