/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

@import url("chrome://browser/content/extension.css");


body {
    background-image: url("../img/bkgrd.png");
    font-size: 13px;
}

#addon-icon {
    vertical-align: -14px;
    margin-right: 8px;
}

h2 {
    display: inline-block;
    margin-top: 0;
    margin-right: 6px;
    margin-bottom: 20px;
    font-size: 22px;
    font-weight: 600;
    letter-spacing: -0.2px;
}

main {
    width: 640px;
    margin: 24px auto 24px auto;
    padding: 16px;
    border: 1px solid #ddd;
    border-radius: 2px;
    box-shadow: 0 0 8px 2px #e0e0e0;
    background-color: #fefefe;
}

input[type="number"],
select {
    font-size: 13px !important;
}

fieldset {
    border-top: 1px solid #d7d7db;
    border-right: 0;
    border-bottom: 0;
    border-left: 0;
}

legend {
    margin-left: -12px;
    padding-right: 4px;
    font-size: 15px;
}

label {
    margin-right: 4px;
}

button {
    min-width: 88px;
    height: 32px;
    padding: 0 12px 0;
    outline: unset;
    border-radius: 2px;
    box-shadow: 0 0 0 0 transparent;
    border: 1px solid rgba(12, 12, 13, 0.1) !important;
    background-color: rgba(12, 12, 13, 0.1);
    font: caption;
    font-size: 15px;
}

button[disabled] {
    opacity: 0.4;
}

button.default {
    background-color: #0060df;
    border: 1px solid #0060df;
    border-radius: 2px;
    color: #fff;
}

button:hover {
    background-color: rgba(12, 12, 13, 0.2);
    border: 1px solid rgba(12, 12, 13, 0.2) !important;
}

button.default:hover {
    background-color: #003eaa;
    border: 1px solid #003eaa;
}

button:active {
    background-color: rgba(12, 12, 13, 0.3);
    border: 1px solid rgba(12, 12, 13, 0.3) !important;
}

button.default:active {
    background-color: #002275;
    border: 1px solid #002275;
}

.row {
    margin-top: 6px;
    margin-bottom: 10px;
    margin-left: 4px;
}

.indent {
    margin-left: 2em;
}

.note, description {
    margin-top: 6px;
    margin-bottom: 16px;
    margin-right: 18px;
}

.note {
    font-size: 11px;
}

.description {
    font-size: 13px;
}

.example {
    font-size: 11px;
}

.browser-style > input[type="checkbox"] + label::before {
    width: 14px;
    height: 14px;
    vertical-align: -3px;
}

#html-paste-options {
    width: 420px;
    height: 28px;
    margin-top: 4px;
}

#auto-inc-plchldrs-start-val {
    width: 64px;
}

#sync-status {
    font-size: 15px;
}

#sync-options .description {
    margin-top: 0;
    margin-bottom: 6px;
}

#sync-settings {
    margin-right: 16px;
}

.lightbox {
    top: 64px;
    padding-left: 28px;
    padding-right: 28px;
    border: 1px solid #484848;
    box-shadow: 0px 0px 8px 2px rgba(48, 48, 48, 0.8);
    border-radius: 4px;
    font-size: 15px;
}

.lightbox p {
    font-size: 13px;
}

.lightbox .label {
    font-size: 15px;
}

.lightbox .dlg-subhead {
    font-size: 15px;
    font-weight: bold;
}

.lightbox .dlg-subhead:first-of-type {
    margin-top: 6px;
}

.lightbox > .dlg-btns {
    bottom: 24px;
    right: 14px;
}

.lightbox > .dlg-btns > button {
    padding: 0 24px 0;
    border-radius: 2px;
    font-size: 15px !important;
}

.lightbox input[type="text"] {
    border-top: 1px solid transparent;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
    border-bottom: 1px solid #b1b1b1;
    background-color: -moz-Field;
    font-size: 15px;
}

.lightbox input[type="text"][disabled],
.lightbox input[type="text"][disabled]:hover,
.lightbox input[type="text"][readonly],
.lightbox input[type="text"][readonly]:hover{
    border-bottom: 1px dotted;
}

.lightbox input[type="text"]:active {
    border: 1px solid #0996f8;
}

.lightbox input[type="text"]:focus,
.lightbox input[type="text"]:focus:hover {
    border-color: #0996f8;
    box-shadow: 0 0 0 2px rgba(97, 181, 255, 0.75);
}

.lightbox .row {
    margin-left: unset;
}

.lightbox .border-bottom {
    border-bottom: 1px solid #ddd;
    padding-bottom: 18px;
}

#sync-clippings-dlg {
    top: 128px;
    --width: 500px;
    --height: 256px;
}

#sync-clippings-dlg #sync-cxn-error .msgbox-icon,
#sync-clippings-dlg #generic-error .msgbox-icon {
    float: left;
    width: 48px;
    height: 48px;
    margin-top: 4px;
    margin-right: 12px;
    background-image: url("../img/error.svg");
    background-size: contain;
}

#sync-clippings-dlg #sync-cxn-error .error-msg,
#sync-clippings-dlg #generic-error .error-msg {
    margin-top: 12px;
    margin-left: 64px;
    background-color: #ffd2d2;
    padding: 12px;
    border-radius: 4px;
    font-weight: bold;
}

#sync-clippings-dlg #generic-error #sync-err-detail {
    width: 100%;
    height: 100%;
    margin-top: 18px;
    font: message-box;
    font-size: 15px;
    border: 0;
    resize: unset;
}

#sync-clippings-dlg #sync-fldr-picker-label {
    margin-bottom: 2px;
}

#sync-clippings-dlg #sync-fldr-picker {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;

    margin-top: 0;
    margin-bottom: 4px;
}

#sync-clippings-dlg #sync-fldr-picker #sync-fldr-curr-location {
    order: 1;
    flex: 1 1 auto;
    width: 100%;
}

#sync-clippings-dlg #sync-fldr-picker #browse-sync-fldr {
    order: 2;
    flex: 0 1 auto;
    margin-left: 12px;
}

#turn-off-sync-clippings-dlg {
    top: 160px;
    --width: 510px;
    --height: 150px;
}

#turn-off-sync-clippings-dlg .msgbox-icon {
    float: left;
    width: 48px;
    height: 48px;
    margin-top: 8px;
    margin-right: 12px;
    background-image: url("chrome://global/skin/icons/question-64.png");
    background-size: contain;
}

#sync-clippings-help-dlg {
    --width: 600px;
    --height: 508px;
}

#sync-clippings-help-dlg .dlg-content {
    max-height: 428px;
    overflow-y: auto;
}

