/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

@import url("../style/dialog.css");


:root {
    --color-plchldr-table-border: #e1e1e1;
    --color-plchldr-table-bkgd: #f0f0f0;
}

@media (prefers-color-scheme: dark) {
    :root {
	--color-plchldr-table-border: #4a4a4f;
	--color-plchldr-table-bkgd: #38383d;
    }
}


body {
    margin: 16px;
    background-color: var(--color-bkgd);
    color: var(--color-default-text);
}

select:focus:not([size]):not(:disabled),
select.browser-style:focus:not([size]):not(:disabled) {
    border-color: var(--color-bkgd) !important;
    box-shadow: 0 0 0 2px #61b5ffbf;
}

#plchldr-single,
#plchldr-multi {
    display: none;
}

.icon {
    float: left;
}

.prompt-icon {
    width: 36px;
    height: 36px;
    background-image: url("../img/question-64.png");
    background-size: contain;
}

body[data-os="mac"] .prompt-icon {
    background-image: url("../img/question-64-mac.png");
}

.prompt-content {
    margin-left: 44px;
}

.prompt-content > p {
    margin-top: 2px;
    margin-bottom: 12px;
    font-size: 13px;

    width: 440px;
    overflow-x: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.clipping-name {
    font-weight: bold;
}

#single-prmt-input {
    width: 100%;
    height: 24px;
    font-size: 13px;
}

#plchldr-table {
    display: none;
    width: 100%;
    max-height: 158px;
    overflow-y: auto;
    padding: 4px 8px 4px 8px;
    background-color: var(--color-plchldr-table-bkgd);
    border: 1px solid var(--color-plchldr-table-border);
}

body[data-os="mac"] #plchldr-table {
    max-height: 150px;
}

/* Special handling of a single placeholder used multiple times in the same
/* clipping. Make the UI resemble single placeholder mode. */
#plchldr-table.single-plchldr-multi-use {
    padding: 4px 2px;
    border: none;
    background-color: unset;
}

#plchldr-table.single-plchldr-multi-use input {
    font-size: 13px !important;
}

.ph-name {
    display: inline-block;
    height: 14px;
    font-size: 12px;
}

.ph-input {
    width: 100%;
    margin-top: 2px;
    margin-bottom: 8px;
    height: 24px;
    font-size: 12px !important;
}

.duplicate-plchldr {
    display: none;
}
