/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */


body {
    margin: 0;
    font: caption;
    background-image: url("../img/postUpgrade-bkgrd.png");
}

main {
    margin-left: 12%;
    margin-right: 12%;
    margin-top: 0;
    margin-bottom: 18px;

    border-radius: 2px;
    background-color: #ffffff;    
}

main h2 {
    font-size: 22px;
    font-weight: 600;
    letter-spacing: -0.4px;
    color: #0c0c0d;
}

main h3 {
    font-size: 18px;
    color: #0c0c0d;
    margin-left: 2rem;
}

main p, li {
    font-size: 15px;
    font-weight: 400;
    color: #0c0c0d;
    margin-left: 2rem;
}

li {
    margin-left: 2em;
}

strong {
    font-weight: 700;
    color: #0c0c0d;

}

a, .hyperlink {
    text-decoration: none;
    color: #0060df;
}

a:hover, .hyperlink:hover {
    text-decoration: underline;
    cursor: pointer;
}

button {
    background-color: #fbfbfb;
    border: 1px solid #b1b1b1;
    box-shadow: 0 0 0 0 transparent;
    font: caption;
    font-size: 15px;
    min-width: 88px;
    height: 32px;
    outline: 0 !important;
    padding: 0 8px 0;
    border-radius: 2px;
}

button.default {
    background-color: #0996f8;
    border-color: #0670cc;
    color: #fff;
}

button:hover {
    background-color: #ebebeb;
    border: 1px solid #b1b1b1;
}

button.default:hover {
    background-color: #0670cc;
    border-color: #005bab;
}

button:active {
    background-color: #d4d4d4;
    border: 1px solid #858585;
}

button.default:active {
    background-color: #005bab;
    border-color: #004480;
}

button.btn-puffy {
    border-radius: 4px;
    min-width: 120px;
    height: 48px;
    font-size: 15px;
    padding: 0 16px 0;
}

.cmd {
    font-weight: 600;
}

.expander-icon {
    color: #bf6501;
}

.msg-icon {
    width: 32px;
    height: 32px;
}

.instruction-header {
    font-weight: bold;
}

.pg-buttons {
    margin-top: 24px;
    text-align: center;
}

#top-banner {
    padding-top: 8px;
    padding-bottom: 0;
    background-color: transparent;
    margin-left: 12%;
}

.deck > #select-backup-file-pg {
    padding: 6px 24px 24px 24px;
    display: block;
}

.deck > #import-backup-pg {
    padding: 6px 24px 24px 24px;
    display: none;
}

#main-header {
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #ddd;
    padding-bottom: 8px;
}

#upgrade-success-header {
    display: inline-block;
    width: 36rem;
    margin-top: 18px;
    margin-bottom: 18px;
    text-align: left;
}

#upgrade-success-icon {
    width: 128px;
    height: 128px;
    float: left;
    margin-right: 24px;
}

#upgrade-success-header > h1 {
    margin-bottom: 8px;
    margin-top: 20px;
    font-size: 33px;
    font-weight: 600;
    letter-spacing: -0.5px;
}

#upgrade-success-header > .subhead {
    font-size: 22px;
    font-weight: 300;
}

#import-file-uploader {
    margin-left: 2rem;
    padding: 8px;
}

#import-clippings-file-upload {
    width: 60%;
    float: left;
}

#skip-import {
    margin-left: 24px;
    font-size: 13px;
}

#no-backup-help {
    display: none;
    width: 85%;
    margin-left: 2rem;

    padding: 8px;
    border: 1px solid #fce910;
    background-color: cornsilk;
    border-radius: 4px;
    text-shadow: 1px 1px white;
}

#no-backup-help > p,
#no-backup-help > ol > li {
    font-size: 13px;
}

#no-backup-help > ol > li {
    margin-bottom: 8px;
}

#ready-import {
    display: none;
    margin-top: 24px;
    margin-bottom: 12px;
}

#import-btn {
    font-weight: 600;
}

#import-status {
    font-size: 17px;
    font-weight: 600;
}

#import-progress-bar {
    margin-left: 2rem;
    margin-bottom: 8px;
    width: 400px;
}

#import-completed {
    display: none;
}

#shortcut-key-note {
    margin-left: 16px;
    margin-top: 32px;
    margin-bottom: 32px;
    padding: 8px;
    background-color: #edf9ff;
    border: 1px solid #b5e6fe;
    border-radius: 4px;
    text-shadow: 1px 1px white;
}

#shortcut-key-note > img {
    float: left;
    margin-top: 16px;
    margin-left: 12px;
    margin-right: 20px;
    width: 32px;
    height: 32px;
}

#shortcut-key-note > p {
    margin-top: 12px;
    margin-bottom: 12px;
    line-height: 24px;
}

#keybd-paste-key {
    font-weight: bold;
}

#import-failed {
    display: none;
}

#import-failed > .error {
    color: red;
}

.lightbox {
    box-shadow: 0px 0px 6px 3px rgba(72, 72, 72, 0.8);
}

#skip-import-dlg {
    --width: 520px;
    --height: 150px;
    padding-left: 28px;
    padding-right: 28px;
    top: 100px;
    font-size: 15px;
}

#skip-import-dlg > .dlg-btns {
    bottom: 24px;
    right: 14px;
}

#skip-import-dlg > .dlg-btns > button {
    padding-left: 24px;
    padding-right: 24px;
}

