/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

@import url("../style/dialog.css");


body {
    font-size: 13px;
}

h3 {
    font-size: 15px;
    font-weight: bold;
    margin: 0;
}

.dlg-content {
    max-height: 220px;
    overflow-y: auto;
    line-height: 1.23;
}

#dlg-buttons {
    right: 16px;
    z-index: 1;
}

#dlg-buttons > button {
    min-width: 96px;
    height: 32px;
    margin-right: 0;
    font-size: 15px !important;
}
