/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */


body {
    margin: 0;
    font: caption;
    background-image: url("../img/postUpgrade-bkgrd.png");
}

main {
    margin-left: 12%;
    margin-right: 12%;
    margin-top: 0;
    margin-bottom: 18px;

    border-radius: 2px;
    background-color: #ffffff;    
}

main h2 {
    font-size: 22px;
    font-weight: 600;
    letter-spacing: -0.4px;
    color: #0c0c0d;
}

main h3 {
    font-size: 18px;
    color: #0c0c0d;
    margin-left: 2rem;
}

main p, li {
    font-size: 15px;
    font-weight: 400;
    color: #0c0c0d;
    margin-left: 2rem;
}

li {
    margin-left: 2em;
}

strong {
    font-weight: 700;
    color: #0c0c0d;

}

a, .hyperlink {
    text-decoration: none;
    color: #0060df;
}

a:hover, .hyperlink:hover {
    text-decoration: underline;
    cursor: pointer;
}

button {
    min-width: 88px;
    height: 32px;
    padding: 0 20px 0;
    outline: unset;
    border-radius: 2px;
    box-shadow: 0 0 0 0 transparent;
    border: 1px solid rgba(12, 12, 13, 0.1) !important;
    background-color: rgba(12, 12, 13, 0.1);
    font: caption;
    font-size: 15px;
}

button.default {
    background-color: #0060df;
    border: 1px solid #0060df;
    border-radius: 2px;
    color: #fff;
}

button:hover {
    background-color: rgba(12, 12, 13, 0.2);
    border: 1px solid rgba(12, 12, 13, 0.2) !important;
}

button.default:hover {
    background-color: #003eaa;
    border: 1px solid #003eaa;
}

button:active {
    background-color: rgba(12, 12, 13, 0.3);
    border: 1px solid rgba(12, 12, 13, 0.3) !important;
}

button.default:active {
    background-color: #002275;
    border: 1px solid #002275;
}

button.btn-puffy {
    border-radius: 4px;
    min-width: 120px;
    height: 48px;
    font-size: 15px;
    padding: 0 16px 0;
}

#welcome-actions {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}

.welcome-action-card {
    width: 256px;
    margin-top: 36px;
    padding: 16px 32px 16px;
    border: 1px solid #eee;
    border-radius: 4px;
    box-shadow: 0px 0px 6px 0px #EBEDEA;
    text-align: center;
}

.welcome-action-card > h2 {
    border-bottom: 1px solid #eee;
    padding-bottom: 8px;
}

.welcome-action-card > p {
    margin-left: 0;
}

.welcome-action-card > .card-btns {
    width: 100%;
    padding-top: 12px;
    padding-bottom: 8px;
    text-align: center;
}

.welcome-action-card > .card-btns > button {
    width: 100%;
}

#welcome-current-user {
    order: 1;
    margin-right: 16px;
}

#welcome-new-user {
    order: 2;
    margin-left: 16px;
}

#dismiss-welcome {
    font-size: 13px;
    text-align: center;
    margin-top: 32px;
    margin-left: unset;
}

.cmd {
    font-weight: 600;
}

.expander-icon {
    color: #bf6501;
}

.msg-icon {
    width: 32px;
    height: 32px;
}

.instruction-header {
    font-size: 15px !important;
    font-weight: bold;
}

.pg-buttons {
    margin-top: 24px;
    text-align: center;
}

#top-banner {
    padding-top: 8px;
    padding-bottom: 0;
    background-color: transparent;
    margin-left: 12%;
}

.deck-content {
    padding: 6px 24px 24px 24px;    
}

.deck > #welcome-pg {
    display: block;
}

.deck > #select-backup-file-pg {
    display: none;
}

.deck > #import-backup-pg {
    display: none;
}

#main-header {
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #ddd;
    padding-bottom: 8px;
}

#install-success-header {
    display: inline-block;
    width: 36rem;
    margin-top: 18px;
    margin-bottom: 18px;
    text-align: left;
}

#install-success-icon {
    width: 128px;
    height: 128px;
    float: left;
    margin-right: 24px;
}

#install-success-header > h1 {
    margin-bottom: 8px;
    margin-top: 20px;
    font-size: 33px;
    font-weight: 600;
    letter-spacing: -0.5px;
}

#install-success-header > .subhead {
    font-size: 22px;
    font-weight: 300;
}

#select-backup-file-pg h1 {
    padding-bottom: 8px;
    border-bottom: 1px solid #ddd;
    margin-bottom: 32px;
    font-size: 22px;
    font-weight: 300;
}

#import-file-uploader {
    margin-left: 2rem;
    padding: 8px;
}

#import-clippings-file-upload {
    width: 60%;
    height: 32px;
    float: left;
    padding: 4px;
    border: 1px solid #eee;
    border-radius: 4px;
}

#skip-import {
    margin-left: 24px;
    font-size: 13px;
}

#toggle-no-backup-help {
    clear: both;
    margin-top: 16px;
}

#no-backup-help {
    display: none;
    width: 85%;
    margin-left: 2rem;

    padding: 8px;
    border: 1px solid #fce910;
    background-color: cornsilk;
    border-radius: 4px;
    text-shadow: 1px 1px white;
}

#no-backup-help > p,
#no-backup-help > ol > li {
    font-size: 13px;
}

#no-backup-help > ol > li {
    margin-bottom: 8px;
}

#ready-import {
    display: none;
    margin-top: 24px;
    margin-bottom: 12px;
}

#select-backup-pg-back-link {
    margin-top: 32px;
    font-size: 13px;
}

#select-backup-pg-back-link::before {
    content: url("../img/goback.png");
    margin-right: 6px;
}

#import-btn {
    font-weight: 600;
    width: 160px;
}

#import-status {
    font-size: 17px;
    font-weight: 600;
}

#import-progress-bar {
    margin-left: 2rem;
    margin-bottom: 8px;
    width: 400px;
}

#import-statistics {
    display: inline-block;
    margin-left: 32px;
    vertical-align: 8px;
    font-size: 13px;
}

#import-completed {
    display: none;
}

#shortcut-key-note {
    margin-left: 16px;
    margin-top: 32px;
    margin-bottom: 32px;
    padding: 8px;
    background-color: #edf9ff;
    border: 1px solid #b5e6fe;
    border-radius: 4px;
    text-shadow: 1px 1px white;
}

#shortcut-key-note > img {
    float: left;
    margin-top: 16px;
    margin-left: 12px;
    margin-right: 20px;
    width: 32px;
    height: 32px;
}

#shortcut-key-note > p {
    margin-top: 12px;
    margin-bottom: 12px;
    line-height: 24px;
}

#keybd-paste-key {
    font-weight: bold;
}

#import-failed {
    display: none;
}

#import-failed > .error {
    color: red;
}

.lightbox {
    top: 100px;
    padding-left: 28px;
    padding-right: 28px;
    border: 1px solid #484848;
    box-shadow: 0px 0px 8px 2px rgba(48, 48, 48, 0.8);
    border-radius: 4px;
    font-size: 15px;
}

#dimiss-welcome-dlg {
    --width: 430px;
    --height: 128px;
}

#skip-import-dlg {
    --width: 520px;
    --height: 150px;
}

.lightbox > .dlg-btns {
    bottom: 24px;
    right: 14px;
}

.lightbox > .dlg-btns > button {
    padding-left: 24px;
    padding-right: 24px;
    font-size: 13px !important;
}

