/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

@import url("chrome://browser/content/extension.css");


:root {
    --color-btn-bkgd: rgba(12, 12, 13, 0.1);
    --color-btn-hover-bkgd: rgba(12, 12, 13, 0.2);
    --color-btn-active-bkgd: rgba(12, 12, 13, 0.3);
    --color-btn-border: rgba(12, 12, 13, 0.1);
    --color-btn-text: black;
    --color-tb-bkgd: -moz-field;
    --color-tb-border: rgba(12, 12, 13, 0.2);
    --color-tb-hover-border: rgba(12, 12, 13, 0.3);
    --color-tb-text: -moz-fieldtext;
    --color-cb-bkgd: #fff;
    --color-cb-border: #b1b1b1;
    --color-cb-hover-bkgd: #fbfbfb;
    --color-cb-active-bkgd: #ebebeb;
    --color-error-text: #d70022;
}

@media (prefers-color-scheme: dark) {
    :root {
	--color-btn-bkgd: #4a4a4f;
	--color-btn-hover-bkgd: #606060;
	--color-btn-active-bkgd: #737373;
	--color-btn-border: #4a4a4f;
	--color-btn-text: #f9f9fa;
	--color-tb-bkgd: #0c0c0d;
	--color-tb-border: #4a4a4f;
	--color-tb-hover-border: #737373;
	--color-tb-text: #f9f9fa;
	--color-cb-bkgd: #202023;
	--color-cb-border: #737373;
	--color-cb-hover-bkgd: #2a2a2e;
	--color-cb-active-bkgd: #38383d;
	--color-error-text: #ff0039;
    }
}


a {
    color: #0060df;
    text-decoration: none;
}

a:hover, a:focus {
    text-decoration: underline;
}

a:active {
    color: #003eaa;
    text-decoration: underline;
}

button,
select.browser-style {
    border: 1px solid var(--color-btn-border);
    background-color: var(--color-btn-bkgd);
    font: caption;
    color: var(--color-btn-text);
}

button {
    border-radius: 2px;
    text-align: center;
}

button[disabled] {
    opacity: 0.4;
}

button.default {
    border: 1px solid #0060df;
    background-color: #0060df;
    color: #fff;
}

button:hover {
    background-color: var(--color-btn-hover-bkgd);
}

select.browser-style:hover {
    border: 1px solid var(--color-btn-hover-bkgd) !important;
    background-color: var(--color-btn-hover-bkgd) !important;
}

button.default:hover {
    border: 1px solid #003eaa;
    background-color: #003eaa;
}

button:active {
    border: 1px solid rgba(12, 12, 13, 0.3) !important;
    background-color: var(--color-btn-active-bkgd);
}

select.browser-style:active {
    border: 1px solid rgba(12, 12, 13, 0.3) !important;
    background-color: rgba(12, 12, 13, 0.3) !important;
}

button.default:active {
    border: 1px solid #002275;
    background-color: #002275;
}

input[type="text"],
input[type="password"],
textarea {
    padding-left: 8px;
    padding-right: 8px;
    border: 1px solid var(--color-tb-border);
    background-color: var(--color-tb-bkgd);
    font: caption;
    color: var(--color-tb-text);
}

input[type="text"]:hover,
input[type="password"]:hover,
textarea:hover {
    border-color: var(--color-tb-hover-border);
}

input[type="text"]:focus,
input[type="password"]:focus,
textarea:focus {
    border-color: #0a84ff;
    box-shadow: 0 0 0 2px #61b5ffbf;
    transition-duration: 250ms;
    transition-property: box-shadow;
}

input[type="text"]::selection,
input[type="password"]::selection,
textarea::selection {
    background-color: rgba(10, 132, 255, 0.3);
}

.browser-style > input[type="checkbox"] {
    background-color: var(--color-cb-bkgd);
    border: 1px solid var(--color-cb-border);
}

.browser-style > input[type="checkbox"]:hover,
.browser-style.hover > input[type="checkbox"]:not(:active) {
    background-color: var(--color-cb-hover-bkgd);
    border-color: var(--color-cb-border);
}

.browser-style > input[type="checkbox"]:hover:active,
.browser-style.pressed > input[type="checkbox"]:not(:active) {
    background-color: var(--color-cb-active-bkgd);
}

.error {
    color: var(--color-error-text);
}
