/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

/*
 * Adapted from "Create a Lightbox effect only with CSS"
 * URL: <http://www.emanueleferonato.com/2007/08/22/create-a-lightbox-effect-
 * only-with-css-no-javascript-needed/>
 */

.lightbox-bkgrd {
    display: none;
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index: 1001;
    opacity: 0.5;
}

.lightbox {
    --default-width: 480px;
    --default-height: 130px;
    
    display: none;
    position: absolute;

    /* Default dimensions */
    width: var(--width, var(--default-width));
    height: var(--height, var(--default-height));
    left: calc(calc(100% - var(--width, var(--default-width))) / 2);
    top: calc(calc(100% - var(--height, var(--default-height))) / 2);
    
    padding: 16px;
    background-color: white;
    z-index: 1002;

    border: 1px solid #484848;
    box-shadow: 0px 0px 8px 2px rgba(48, 48, 48, 0.8);

    font-size: 11px;
}

.panel-bkgrd {
    display: none;
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    z-index: 1001;
    opacity: 0;
}

.panel {
    --default-height: 100px;

    display: none;
    position: absolute;

    min-width: 256px;
    max-width: 480px;
    height: var(--default-height);
    right: 8px;
    top: 36px;

    padding: 12px;
    background-color: white;
    z-index: 1002;

    border: 1px solid #ddd;
    border-radius: 2px;
    box-shadow: 4px 4px 3px -2px #8F8F8F;

    font-size: 11px;
}

.panel {
    height: 26px;
    padding: unset;
    background-color: #ededf0;
    box-shadow: 0 2px 5px #00000080;
}

.notify-icon, .panel-content, .notify-dismiss {
    display: inline-block;
}

.panel .notify-icon {
    width: 16px;
    height: 16px;
    margin: 4px;
    background-image: url("chrome://global/skin/icons/info.svg");
    background-size: contain;
}

.panel .panel-content {
    margin-right: 64px;
    vertical-align: 8px;
    font-size: 13px;
    color: #0c0c0d;
}

.panel .notify-dismiss {
    position: absolute;
    right: 0px;
    width: 16px;
    height: 16px;
    margin: 4px;
    background-image: url("../img/close-panel.svg");
    background-size: contain;
    border-radius: 2px;
}

.panel .notify-dismiss:hover {
    background-color: rgba(12, 12, 13, 0.2);
}

.panel .notify-dismiss:active {
    background-color: rgba(12, 12, 13, 0.3);
}

.lightbox > .dlg-btns,
.panel > .dlg-btns {
    position: absolute;
    bottom: 14px;
    right: 6px;
}

.lightbox > .dlg-btns > button,
.panel > .dlg-btns > button {
    min-width: 72px;
    min-height: 24px;
    border-radius: 2px;
    text-align: center;
    font-size: 11px !important;
}

.lightbox > .dlg-btns > button {
    margin-right: 10px;   
}

.lightbox-show, .panel-show {
    display: block;
}
