/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

/*
 * Adapted from "Create a Lightbox effect only with CSS"
 * URL: <http://www.emanueleferonato.com/2007/08/22/create-a-lightbox-effect-
 * only-with-css-no-javascript-needed/>
 */

:root {
    --color-ovl-bkgd: black;
    --opacity-ovl-bkgd: 0.5;
    --color-lb-border: #595959;
    --color-lb-bkgd: #fefefe;
    --color-lb-shadow: #303030cc;
}

@media (prefers-color-scheme: dark) {
    :root {
	--color-ovl-bkgd: black;
	--opacity-ovl-bkgd: 0.85;
	--color-lb-border: #2a2a2e;
	--color-lb-bkgd: #38383d;
	--color-lb-shadow: #0c0c0d;
    }
}


.lightbox-bkgrd {
    display: none;
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: var(--color-ovl-bkgd);
    z-index: 1001;
    opacity: var(--opacity-ovl-bkgd);
}

.lightbox, .panel {
    --default-width: 480px;
    --default-height: 130px;
    
    display: none;
    position: fixed;

    /* Default dimensions */
    width: var(--width, var(--default-width));
    height: var(--height, var(--default-height));
    left: calc(calc(100% - var(--width, var(--default-width))) / 2);
    top: calc(calc(100% - var(--height, var(--default-height))) / 2);
    
    padding: 16px;
    background-color: var(--color-lb-bkgd);
    z-index: 1002;

    border: 1px solid var(--color-lb-border);
    box-shadow: 0px 2px 8px 1px var(--color-lb-shadow);

    font-size: 12px;
}

.lightbox {
    border-radius: 3px;
}

.panel-bkgrd {
    display: none;
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    z-index: 1001;
    opacity: 0;
}

.panel {
    padding: 12px;
    background-color: white;
    z-index: 1002;

    border: 1px solid #ddd;
    border-radius: 2px;
    box-shadow: 0 2px 5px #00000080;

    font-size: 12px;
}

.msgbar {
    left: unset;
    right: 8px;
    top: 36px;

    min-width: 256px;
    width: unset;
    height: 26px;
    padding: unset;
    background-color: #ededf0;
    box-shadow: 0 2px 5px #00000080;

    animation-name: fadeout;
    animation-delay: 4.75s;
    animation-duration: 0.25s;
}

.msgbar-warn {
    border: 1px solid #ffe900;
    background-color: #ffe900;
}

@keyframes fadeout {
    from {
	opacity: 1.0;
    }
    to {
	opacity: 0.0;
    }
}

.msgbar-icon, .msgbar-warn-icon, .msgbar-content, .msgbar-dismiss {
    display: inline-block;
}

.msgbar .msgbar-icon,
.msgbar .msgbar-warn-icon {
    width: 16px;
    height: 16px;
    margin: 4px;
    background-size: contain;
}

.msgbar .msgbar-icon {
    background-image: url("../img/msgbar-info.svg");
}

.msgbar .msgbar-warn-icon {
    background-image: url("../img/msgbar-warn.svg");
}

.msgbar .msgbar-content {
    margin-right: 64px;
    vertical-align: 8px;
    font-size: 13px;
    color: #0c0c0d;
}

.msgbar .msgbar-dismiss {
    position: absolute;
    right: 0px;
    width: 16px;
    height: 16px;
    margin: 4px;
    background-image: url("../img/close-panel.svg");
    background-size: contain;
    border-radius: 2px;
}

.msgbar .msgbar-dismiss:hover {
    background-color: rgba(12, 12, 13, 0.2);
}

.msgbar .msgbar-dismiss:active {
    background-color: rgba(12, 12, 13, 0.3);
}

.lightbox > .dlg-btns,
.panel > .dlg-btns {
    position: absolute;
    bottom: 14px;
    right: 6px;
}

.lightbox > .dlg-btns > button,
.panel > .dlg-btns > button {
    min-width: 72px;
    min-height: 24px;
    border-radius: 3.5px;
    text-align: center;
    font-size: 12px !important;
}

.lightbox > .dlg-btns > button {
    margin-right: 10px;   
}

.lightbox-show, .panel-show {
    display: block;
}
